# PostgreSQL
POSTGRES_PASSWORD=

# Backend
PREDICTOR_URL=http://predictor:8000
JWT_SECRET=

# SMTP for sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=

# Frontend
FRONTEND_URL_PROD=http://localhost:3000